.hero{
  height: 100vh;
}
.slide1 {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 4%;
  background: url('../assets/images/Spycekit\ banner\ 1.png') no-repeat center center/cover;
  position: relative;
  overflow: hidden;
}
/* .slide1::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, rgb(0,0,0),rgb(255,255,255));
  } */

/* Left section text */
.left-slide1 {
  flex: 1;
  z-index: 2;
  max-width: 450px;
}

.left-slide1 h1 {
  font-size: 3.5rem;
  color: #210e06; /* dark brown for spice theme */
  margin-bottom: 20px;
  line-height: 1.2;
}

.left-slide1 p {
  font-size: 1.2rem;
  color: #210e06;
  line-height: 1.6;
  margin-bottom: 20px;
}
.left-slide1 button{
        padding: 10px 16px;
    border: 1px solid black;
    outline: none;
    background: #932101;
    color: white;
    border-radius: 7px;
  }
  @media screen and (max-width:1100px) {

    .left-slide1 h1{
      font-size: 2rem;
    }
    .left-slide1 p{
      font-size: 1rem;
    }
    
  }

  @media screen and (max-width:768px) {
    .hero{
      height: 70vh;
    }
    .slide1{
      padding: 90px 20px;
      align-items: flex-start;
      background: url('../assets/images/mobile\ banner.png') no-repeat center center/cover;
    }
    .left-slide1{
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    .left-slide1 h1{
      font-size: 2.5rem;
    }
    .left-slide1 p{
      font-size: 1.2rem;
    }
  }
  @media screen and (max-width:480px) {
    .left-slide1 h1{
      font-size: 1.8rem;
    }
    .left-slide1 p{
      font-size: 0.9rem;
    }
  }