:root{
    --left: -3%;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    z-index: 100;
    color: white;
    transition: all 0.5s ease;
}

.navbar.scrolled {
    background: #0b0b0b;
  padding: 5px 50px;
}
.navbar.scrolled a{
    color: white;
}
.left-nav{
    font-size: 24px;
    color: black;
}
.left-nav img{
    height: 36px;
}
.right-nav ul{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.right-nav ul::before{
content: "";
    position: absolute;
    left: var(--left);
    bottom: -3px;
    width: 70px;
height: 25px;
    border-radius: 5px;
    background-color: white;
    transition: left 0.5s ease;
}
.right-nav li{
    list-style: none;
}
.right-nav a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70px;
    text-decoration: none;
    color: white;
}
.right-nav a.active{
    color: black;
}
.right-nav a::after{
    content: "";
    position: absolute;
    bottom: -3px;
    width: 70px;
    height: 2px;
    border-radius: 10px;
    background-color: red;
    display: none;
}
.right-nav a:hover::after{
    display: block;
}
.hamButton{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}
.hamButton span{
    height: 3px;
    width: 27px;
    background: #ddd;
    border-radius: 5px;
}
.navbar.scrolled .hamButton span{
    background: white;
}
.hamMenu{
    display: none;
}
@media screen and (max-width:900px) {
    .navbar{
        padding: 10px 30px;
    }
    .navbar.scrolled{
        padding: 5px 30px;
    }
    .right-nav ul{
        gap: 40px;
    }
}
@media screen and (max-width: 730px) {
    .right-nav ul{
        display: none;
    }
    .hamMenu{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        opacity: 1;
        padding: 30px 10px;
        width: 200px;
        height: 100%;
        padding-top: 60px;
        z-index: 200;
        background: #0d0d0d;
        border-radius: 10px 0 0 10px;;
        transition: all 0.5s ease-in;
    }
    .hamMenu.close{
        right: -200px;
        opacity: 0;
    }
    .hamMenu ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
    .hamMenu li{
        width: 100%;
    }
    .hamMenu a{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        padding: 10px 0;
        width: 100%;
        border-radius: 5px;
    }
    .hamMenu a.active{
        background: #ff8800;
    }
    .hamMenu button{
position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    background: none;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .hamMenu button:hover{
        background: #ff8800;
    }
    .hamButton{
        display: flex;
    }
}